.LangSkill {
  position: absolute;
  top: 95%;
  left: 32%;
  width: 60%;
}

.langContain {
  background-color: #00283a;
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  color: white;
}

.knowSkills {
  gap: 40px;
  display: flex;
  width: 100%;
}

.subSkilldivs {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #00283a;
  border-radius: 20px;
  padding: 20px;
}

.skillContain {
  color: white;
}

.subserHeading {
  font-size: 18px;
}

.spanDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.spanElem {
  font-size: 12px;
  opacity: .7;
  font-style: italic;
  color: #e1e728;
}

.ProjPara {
  font-size: 15px;
  font-weight: 500;
  color: white;
  opacity: .7;
}

.subLangdivs {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}


.progressBar {
  width: 100%;
  height: 5px;
  background-color: rgb(3, 3, 3);
  border-radius: 5px;
  overflow: hidden;
}

.progressBarFill {
  width: 70%;
  height: 100%;
  background-color: #bbc032;
}


.Knowlwdge {
  position: absolute;
  top: 165%;
  left: 32%;
}

.knowHeading {
  color: white;
}

.knowText {
  margin-bottom: 50px;
  margin-left: 20px;
  height: 13px;
  border-bottom: dotted 2px rgba(225, 225, 235, 0.15);
  width: 90%;
}

.knowContent {
  background-color: #00283a;
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  color: white;
  font-weight: 600;
}

.knowItems {
  display: flex;
  width: 100%;
  gap: 110px;
}

li {
  margin-bottom: 10px;
}

.projectHist {
  position: absolute;
  top: 210%;
  left: 30%;
}


.projContent {
  display: flex;
}

.leftContent {
  width: 40%;
  color: white;
  font-weight: 600;
  border-right: solid 5px #00283a;
  padding: 30px;
}

.rightContent {
  width: 40%;
  color: white;
  font-weight: 600;
  border-right: solid 5px #00283a;
  padding: 30px;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.project1 {
  border-radius: 20px;
  padding: 20px;
  background-color: #00283a;
  animation: fadeUp 0.5s ease-in-out forwards;
}

.project1:not(:last-child) {
  margin-bottom: 45px;
}


/* -------footer--------- */
.Footer {
  position: absolute;
  top: 360%;
  left: 32%;
  width: 65%;
}

.footerinisde {
  border-top: 2px dotted rgba(225, 225, 235, 0.15);
  padding-top: 40px;
  margin-bottom: 40px;
}

.footerContent {
  background-color: #00283a;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  padding: 20px;
  color: white;
  animation: fadeUp 0.5s ease-in-out forwards;
}

.ftrText {
  font-size: 14px;
  opacity: .5;
}

a:active {
  color: white;
  opacity: .7;
}