.sideBar {
  position: absolute;
  top: 25%;
  left: 80px;
  z-index: 1;
  background-color: rgb(21, 22, 21);
  color: white;
  width: 250px;
  height: calc(90vh - 10px);
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headingName {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.changingText {
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.contactLinks {
  cursor: pointer;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-bottom: 1px dotted wheat;
  border-top: 1px dotted wheat;
  gap: 20px;
}

.logo {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 25px;
}

.genInfo {
  font-size: 15px;
  font-weight: 600;
  margin-top: 90px;
}

.detailInfo {
  display: flex;
  gap: 60px;
}