.HeroSec {
  margin: 0 auto;
}

.BgImage {
  margin: 5px;
  padding: 1px;
  position: relative;
  width: 100%;
  border-radius: 40px;
  background-image: url(../../assets/png/desktop.jpg);
  background-size: cover;
  background-position: center;
  height: 650px;
  opacity: .6;
}


.textArea {
  width: 50%;
  margin: 0 auto;
  position: absolute;
  top: 20%;
  left: 60%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: rgb(236, 233, 226);
  font-weight: 800;
}


.HeroSpan {
  width: 40%;
}

.HeroHead {
  font-size: 45px;
}


@media screen and (max-width: 1200px) {

  .textArea {
    left: 70%;
  }

  .HeroHead {
    font-size: 40px;
  }
}

@media screen and (max-width: 992px) {


  .textArea {
    top: 20%;
    left: 75%;
  }

  .HeroHead {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {


  .textArea {
    top: 15%;
    left: 48%;
    width: 60%;
  }

  .HeroHead {
    font-size: 30px;
  }
}

@media screen and (max-width: 580px) {


  .textArea {
    top: 15%;
    left: 58%;
    width: 90%;
  }

  .HeroHead {
    font-size: 25px;
  }
}

@media screen and (max-width: 435px) {
  .textArea {
    top: 10%;
    left: 58%;
  }
}