.HeroSection {
  margin: 0 auto;
  padding: 80px 0 0;
}


.BgImage {
  padding: 30px 20px 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* transform: translateX(-3%); */
  /* transform: translateX(1%); */
  height: 100%;
  width: 97%;
  z-index: -1;
  opacity: .9;
  border-radius: 40px;
}

.textArea {
  position: absolute;
  left: 35%;
  top: 60%;
  width: 40%;
  z-index: 1;
  font-weight: 700;
  color: wheat;
}