.contactDet {
  margin-top: 5%;
  background-color: #00283a;
  padding: 50px;
  border-radius: 20px;
  position: relative;
  left: 35%;
  width: 53%;
  margin-bottom: 5%;
}


.btnDiv {
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contBtn {
  cursor: pointer;
  padding: 10px;
  width: 90px;
  border: none;
  border-radius: 20px;
  background-color: rgb(162, 167, 170);
}

.contBtn:hover {
  background-color: rgb(218, 213, 174);
  width: 95px;
  color: rgb(56, 54, 52);
}

.arrow {
  transition: transform 0.3s ease-in-out;
}

.arrow:hover {
  transform: translateX(5px);
}

.spanEle {
  color: white;
  opacity: .5;
  font-size: 13px;
}

@media screen and (max-width: 1200px) {
  .contactDet {
    margin-top: 5%;
    padding: 40px;
    left: 43%;
    width: 48%;
    margin-bottom: 5%;
  }
}

@media screen and (max-width: 992px) {
  .contactDet {
    left: 50%;
    width: 35%;
  }

  .btnDiv {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

}

@media screen and (max-width: 768px) {
  .contactDet {
    left: 15%;
    width: 53%;
  }

  .btnDiv {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

}

@media screen and (max-width: 580px) {
  .contactDet {
    left: 15%;
    width: 53%;
    /* padding-right: 35px; */
    /* padding-left: 15px; */
  }

  .btnDiv {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

}