.inputCont {
  width: 90%;
  padding: 20px;
  border-radius: 20px;
  border: none;
  margin-top: 40px;
  outline: none;
  background-color: #02162b;
  color: aliceblue;
}

.inputmsg {
  width: 90%;
  padding: 20px 20px 90px;
  background-color: #02162b;
  border-radius: 20px;
  border: none;
  outline: none;
  margin-top: 40px;
  color: aliceblue;
}
.invalid{
  border: 2px solid red;
  color: rgb(126, 118, 118);
  background-color: rgb(110, 77, 77);
}