.Knowlwdge {
  position: relative;
  margin-top: 70px;
  left: 35%;
  width: 58%;
}


.knowHeading {
  color: white;
}

.knowText {
  margin-bottom: 50px;
  margin-left: 20px;
  height: 10px;
  border-bottom: dotted 2px rgba(225, 225, 235, 0.15);
  width: 100%;
}

.knowContent {
  background-color: #00283a;
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  color: white;
  font-weight: 600;
}

.knowItems {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 110px;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.itemss {
  flex: 1 0 30%;
  margin-bottom: 10px;
}

@media screen and (max-width:1200px) {
  .Knowlwdge {
    left: 42%;
    width: 52%;
  }
}

@media screen and (max-width: 992px) {
  .Knowlwdge {
    left: 50%;
    width: 40%;
  }

  .itemss {
    flex: 0 0 0%;
  }

  .list {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .Knowlwdge {
    left: 15%;
    width: 75%;
  }

  .itemss {
    flex: 1 0 30%;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

@media screen and (max-width: 580px) {
  .Knowlwdge {
    left: 10%;
    width: 75%;
  }

  .itemss {
    flex: 0 0 0%;
  }

  .list {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
  }
}